[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = "*"
flake8 = "*"
flake8-docstrings = "*"
flake8-bugbear = "*"
jinja2 = "*"
markdown-it-py = ">=2.2.0"		# security fix for a dependency
myst-parser = "*"
pre-commit = "*"
pytest = "*"
pytest-vcr = "*"
setuptools-scm = "*"
Sphinx = "==4.3.1"
sphinx-autobuild = "*"
twine = "*"
types-retry = "*"
types-requests = "*"
typing-extensions = "*"
us = "*"
sphinxcontrib-napoleon = "*"
mypy = "*"

[packages]
bs4 = "*"
click = "*"
cryptography = ">=41.0.0"		# security fix for pdfplumber->pdfminer.six
html5lib = "*"
openpyxl = "*"
pdfplumber = "*"
requests = ">=2.31.0"			
retry = "*"
tenacity = "*"
tornado = ">=6.3.2"				# security fix
xlrd = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
