[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
Sphinx = "*"
coverage = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
isort = "*"
jinja2 = "*"
mypy = "*"
myst-parser = "*"
pre-commit = "*"
pytest-cov = "*"
pytest-vcr = "*"
sphinx-autobuild = "*"
sphinxcontrib-applehelp = "*"
sphinxcontrib-devhelp = "*"
sphinxcontrib-htmlhelp = "*"
sphinxcontrib-qthelp = "*"
sphinxcontrib-serializinghtml = "*"
twine = "*"
types-beautifulsoup4 = "*"
types-openpyxl = "*"
types-requests = "*"
types-retry = "*"
typing-extensions = "*"
us = "*"
pillow = "*"
black = "*"
lxml = "*"
setuptools = "*"
cryptography = "*"
pyopenssl = "*"
pytest = "*"
setuptools-scm = {extras = ["toml"], version = "*"}
urllib3 = "*"
idna = "*"

[packages]
beautifulsoup4 = "*"
bln = "==2.3.18"
cffi = "*"
click = "*"
cryptography = "*"
exceptiongroup = "*"
html5lib = "*"
openpyxl = "*"
pdfplumber = "*"
pyopenssl = "*"
pyquery = ">=2.0.1"
requests = "*"
retry2 = "*"
selenium = "*"
stealthenium = "*"
tenacity = "*"
tomli = "*"
urllib3 = "*"
webdriver-manager = "*"
xlrd = "*"
xvfbwrapper = "*"
opencv-python-headless = "*"
pypdf = "*"
niquests = {extras = ["utls"], version = "*"}
camelot-py = {git = "git+https://github.com/biglocalnews/camelot-olde.git"}

[requires]
python_version = "3.14"

[pipenv]
allow_prereleases = false
