[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-vcr = "*"
black = "*"
twine = "*"
Sphinx = "*"
sphinx-autobuild = "*"
myst-parser = "*"
flake8 = "*"
coverage = "*"
flake8-docstrings = "*"
setuptools-scm = "*"
us = "*"
flake8-bugbear = "*"
pre-commit = "*"
sphinxcontrib-napoleon = "*"
types-requests = "*"
mypy = "*"
typing-extensions = "*"
types-retry = "*"
types-beautifulsoup4 = "*"
types-openpyxl = "*"
sphinxcontrib-applehelp = "*"
sphinxcontrib-devhelp = "*"
sphinxcontrib-htmlhelp = "*"
sphinxcontrib-qthelp = "*"
sphinxcontrib-serializinghtml = "*"
setuptools = "*"
jinja2 = "*"
pytest = "*"
isort = "*"

[packages]
beautifulsoup4 = "*"
html5lib = "*"
requests = "*"
openpyxl = "*"
pdfplumber = "*"
tenacity = "*"
click = "*"
xlrd = "*"
selenium = "*"
webdriver-manager = "*"
cffi = "*"
pyopenssl = "*"
xvfbwrapper = "*"
stealthenium = "*"
urllib3 = "*"
cryptography = "*"
retry2 = "*"
setuptools = "*"
pyquery = ">=2.0.1"
bln = ">=2.3.12"

[requires]
python_version = "3.14"

[pipenv]
allow_prereleases = false
